---
import BaseLayout from '../ui/astro-layouts/BaseLayout.astro';
import {RootPage} from "../ui/components/page-specific/root/RootPage";
---

<BaseLayout title="Industry">
    <main>
        <RootPage client:only/>
    </main>
</BaseLayout>



